@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");
.navbar__logo, .navbar__menu, .navbar__menu__link {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff3e6;
  padding: 0.5rem calc((100vw-1200)/2);
  text-align: center;
  z-index: 10;
  position: relative;
}

.navbar__logo {
  color: #222121;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 24px;
}

.navbar__bars {
  color: #222121;
  opacity: 0;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar__bars {
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
  }
}

.navbar__menu {
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu__link {
  color: #222121;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu__link:hover {
  color: #00cc66;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-left: 1rem;
  background: #00cc66;
}

.navbar__menu #button:hover {
  background: #fb4b4e;
  color: #fff3e6;
  transition: all 0.3s ease;
}

.hero {
  background: #fff3e6;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container__left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container__left {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 280px) {
  .hero__container__left {
    line-height: 1.5;
  }
}

.hero__container__left h1 {
  font-size: 4rem;
  color: #00cc66;
}

@media screen and (max-width: 280px) {
  .hero__container__left h1 {
    font-size: 1.5rem;
  }
}

.hero__container__left h2 {
  font-size: 4rem;
  color: #222121;
}

@media screen and (max-width: 280px) {
  .hero__container__left h2 {
    font-size: 2rem;
  }
}

.hero__container__left p {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 700;
  font-family: "Lato", Fantasy;
  text-transform: capitalize;
}

@media screen and (max-width: 280px) {
  .hero__container__left p {
    font-size: 1.5rem;
  }
}

.hero__container__bttn {
  font-size: 1rem;
  background-color: #00cc66;
  color: #fff3e6;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}

.hero__container__bttn a {
  position: relativel;
  z-index: 4;
  color: #fff3e6;
  text-decoration: none;
}

.hero__container__bttn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container__bttn:hover:after {
  width: 100%;
}

.hero__container__right {
  text-align: center;
}

.hero__container__img {
  width: 100%;
  height: 100%;
}

body {
  background: #fff3e6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  text-shadow: 0px 1px 5px #fb4b4e;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*# sourceMappingURL=styles.css.map */
